In [1]:
import pandas as pd

In [38]:
### Read a sample of the data (green)
# Note: From my local computer I'm having issues with SSL downloading the data, so I'm saving it locally
# Codebook: https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page

#url_green = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet'
url_green = '/Users/mishadavies/src/DEZCamp_2026/Week_1/hw_wk1/green_tripdata_2025-11.parquet'
df_green = pd.read_parquet(url_green)
df_green.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [48]:
print(df_green.shape)
df_green.dtypes

(46912, 21)

VendorID                          Int64
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag       string[python]
RatecodeID                        Int64
PULocationID                      Int64
DOLocationID                      Int64
passenger_count                   Int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      Int64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [40]:
# Check for count of nulls in each column:
df_green.isnull().sum()

VendorID                     0
lpep_pickup_datetime         0
lpep_dropoff_datetime        0
store_and_fwd_flag        5569
RatecodeID                5569
PULocationID                 0
DOLocationID                 0
passenger_count           5569
trip_distance                0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
ehail_fee                46912
improvement_surcharge        0
total_amount                 0
payment_type              5569
trip_type                 5570
congestion_surcharge      5569
cbd_congestion_fee           0
dtype: int64

In [57]:
# Define data types for df_green:
dtype_green = {
    'VendorID': 'Int64',
    'passenger_count': 'Int64',
    'trip_distance': 'float64',
    'RatecodeID': 'Int64',
    'store_and_fwd_flag': 'string',
    'PULocationID': 'Int64',
    'DOLocationID': 'Int64',
    'payment_type': 'Int64',
    'fare_amount': 'float64',
    'extra': 'float64',
    'mta_tax': 'float64',
    'tip_amount': 'float64',
    'tolls_amount': 'float64',
    'improvement_surcharge': 'float64',
    'total_amount': 'float64',
    'trip_type': 'Int64',
    'congestion_surcharge': 'float64'
}

# Don't need to parse dates because this is already in a parquet format
''' parse_dates_green = [
    "lpep_pickup_datetime",
    "lpep_dropoff_datetime"
]'''

# Update df_green data types 
df_green = df_green.astype(dtype_green)
df_green

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1,74,42,1,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1,1,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1,74,42,2,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2,1,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1,83,160,1,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1,1,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1,166,127,1,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1,1,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1,166,262,1,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1,1,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46907,2,2025-11-30 19:58:34,2025-11-30 20:14:28,<NA>,<NA>,59,51,<NA>,8.50,33.22,...,0.5,0.00,0.0,NaN,1.0,34.72,<NA>,<NA>,NaN,0.00
46908,2,2025-11-30 19:34:00,2025-11-30 19:46:00,<NA>,<NA>,74,151,<NA>,1.73,13.86,...,0.5,0.77,0.0,NaN,1.0,16.13,<NA>,<NA>,NaN,0.00
46909,2,2025-11-30 21:46:46,2025-11-30 22:17:55,<NA>,<NA>,33,163,<NA>,7.52,38.42,...,0.5,1.00,0.0,NaN,1.0,44.42,<NA>,<NA>,NaN,0.75
46910,2,2025-11-30 21:00:00,2025-11-30 21:15:00,<NA>,<NA>,16,95,<NA>,5.61,24.67,...,0.5,0.00,0.0,NaN,1.0,26.17,<NA>,<NA>,NaN,0.00
46911,2,2025-11-30 23:26:00,2025-11-30 23:42:00,<NA>,<NA>,65,87,<NA>,2.91,14.46,...,0.5,3.89,0.0,NaN,1.0,23.35,<NA>,<NA>,NaN,0.75

In [49]:
# Read in the data (zones)
url_zones = '/Users/mishadavies/src/DEZCamp_2026/Week_1/hw_wk1/taxi_zone_lookup.csv'
df_zones = pd.read_csv(url_zones)
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [50]:
print(df_zones.shape)
df_zones.dtypes

(265, 4)

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [51]:
# Check for count of nulls in each column:
df_zones.isnull().sum()

LocationID      0
Borough         0
Zone            1
service_zone    2
dtype: int64

In [53]:
# Update datatypes for df_zones:
dtype_zones = {
    'LocationID': 'Int64',
    'Borough': 'string',
    'Zone': 'string',
    'service_zone': 'string'
}

df_zones = df_zones.astype(dtype_zones)
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [60]:
# Install sqlalchemy
!uv add sqlalchemy psycopg2-binary

Resolved 119 packages in 24ms
Audited 10 packages in 3ms

In [61]:
# Use sqlalchemy to connect to postgresql 
# Need to create pgsql container first before this step
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [78]:
# Get data schema:
print(pd.io.sql.get_schema(df_green, name='green_tripdata', con=engine))
print(pd.io.sql.get_schema(df_zones, name='taxi_zones', con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)



CREATE TABLE zones_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [79]:
#Create header for the data
df_green.head(n=0).to_sql(name='green_tripdata', con=engine, if_exists='replace') 
#df_green.head(0) # shows just the header of the data

0

In [69]:
# Add tqdm to monitor chunk load process
!uv add tqdm

Resolved 120 packages in 430ms
Prepared 1 package in 53ms
Installed 1 package in 4ms
 + tqdm==4.67.1

In [70]:
import tqdm
print(tqdm.__version__)

4.67.1

In [72]:
from tqdm.auto import tqdm

In [82]:
# Create iteration script to load df_green (in chunks) & df_zones to pgcli (pgsql cli)
# Note: The example in the training does not work because of options limitations with read_parquet.

# Ingest df_green in chunks to pgsql
df_green.head(0).to_sql(name='green_tripdata', con=engine, if_exists="replace")
total_rows = len(df_green)
chunksize = 100000

for i in tqdm(range(0, total_rows, chunksize)):
    chunk = df_green.iloc[i:i + chunksize]
    chunk.to_sql(name='green_tripdata', con=engine, if_exists="append")

print('Done with green_tripdata')

  0%|          | 0/1 [00:00<?, ?it/s]

Done with green_tripdata

In [83]:
# Now ingest df_zones in chunks to pgcli
df_zones.to_sql(name='taxi_zones', con=engine, if_exists="replace")
print('Done with zones data')

Done with zones data

In [ ]:
# Go to pgcli in your terminal and check that the tables are available